/* Goolge Fonts */
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');

/* General */
* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

body {
    background-image: url('../images/space.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Balsamiq Sans", sans-serif;
    font-size: 375%;
    font-weight: 700;
}

img {
    max-width: 100%;
    height: auto;
}


/* Games area */

.quiz-container {
    width: 500px;
    height: 500px;
    max-width: 80%;
    border-radius: 5px;
    background-color: lightblue;
    padding: 20px;
    box-shadow: rgba(0, 0, 4, 0.75) 1.95px 1.95px 2.6px;
}

/* Buttons */
.btn-grid {
    display: grid;
    gap: 15px;
    margin: 25px 0;
}

.btn {
    background-color: #C3FC95;
    border: 2px solid black;
    padding: 15px 32px;
    color: black;
    text-decoration: none;
    text-align: center;
}

.btn:hover {
    border-color: orange;
}

#start-btn,
#next-btn,
#home-btn {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 200px;
}

.hide {
    display: none;
}