/* Goolge Fonts */
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');

/* General */
* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

body {
    background-image: url('../images/space1.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Balsamiq Sans", sans-serif;
    font-size: 375%;
    font-weight: 700;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #2e2e2e;
}


/* Games area */

.quiz-container {
    /* width: 450px;
    height: 450px;
    margin: 10px; */
    border-radius: 5px;
    background-color: lightblue;
    padding: 20px;
    box-shadow: rgba(0, 0, 4, 0.75) 1.95px 1.95px 2.6px;
}

/* Score tracking and question counter area */
.score-tracking {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
}

/* Buttons */
.btn-grid {
    display: grid;
    gap: 15px;
    margin: 25px 0;
}

.btn {
    background-color: #C3FC95;
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px 32px;
    color: black;
    text-decoration: none;
    text-align: center;
}

.btn:hover {
    border-color: orange;
}

#start-btn,
#next-btn,
#home-btn,
.modal-btn,
#contact-btn {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 20px;
}


#close {
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: 10px;
    margin: 5px;
}

.back-btn {
    display: inline-block;
    color: #000;
    font-weight: bold;
    font-size: 1.3rem;
    width: auto;
    padding: 12px 24px;
    margin-top: 25px;
    text-align: center;
    align-self: center;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
}

.menu-controls {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    gap: 33px;
    /* padding: 75px; */
}

.quiz-control {
    text-align: center;
    padding: 10px;
}

.hide {
    display: none;
}

/* Modal - Credit Florin Pop Youtube video guide. Walkthrough helped create modal and code was used and modified for project.  */
.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.4);
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.5s ease;
}

.modal-container.show {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    background-color: #fff;
    width: 600px;
    max-width: 100%;
    padding: 50px;
    border-radius: 5px;
    text-align: center;
}

/* Contact form */
.form {
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin: 40px auto;
    max-width: 525px;
    border-radius: 30px;
    color: #2e2e2e;
    background-color: rgba(158, 206, 226, 0.5);
    box-shadow: rgba(0, 0, 4, 0.75) 1.95px 1.95px 2.6px;
}

.form h2 {
    padding-bottom: 25px;
}

.form h2,
h3 {
    text-align: center;
}

.text-input {
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

textarea {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

#submit-button {
    display: inline-block;
    background-color: #ffa500;
    color: #000;
    border: 1px solid #ffa600;
    border-radius: 30px;
    font: bold 18px;
    font-size: 120%;
    width: auto;
    padding: 12px 24px;
    text-align: center;
    align-self: center;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
}

#submit-button:hover {
    opacity: 0.8;

}